.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vscode-extension.iml
*.ts
!*.d.ts
tsconfig.json
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/test/**
node_modules/**/.github/**
node_modules/**/examples/**
.DS_Store
**/.DS_Store


